<section>
	<div class="mx-auto max-w-[77.188rem] overflow-hidden px-4 md:px-8 2xl:px-0">
		<div class="flex items-center gap-8 lg:gap-32.5">
			<div class="md:w-1/2">
				<h4 class="sub-title uppercase text-black dark:text-white">
					Launch Your SaaS Fast
				</h4>
				<h2 class="relative mb-6 text-black dark:text-white title">
					Packed with All Essential
					<span class="ml-2.5 inline-block about-integration">
						Integrations
					</span>
				</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultricies
					lacus non fermentum ultrices. Fusce consectetur le.
				</p>
				<div>
					<a
						href="#"
						class="group mt-7.5 inline-flex items-center gap-2.5 text-black hover:text-primary dark:text-white dark:hover:text-primary"
					>
						<span class="duration-100 ease-in-out group-hover:pr-5">
							Know More
						</span>
						<i class="fa fa-arrow-right"></i>
					</a>
				</div>
			</div>
			<div class="relative mx-auto hidden md:block md:w-1/2">
				<img
					alt="About"
					class="dark:hidden"
					src="./images/about/about-light-02.svg"
				/>
				<img
					alt="About"
					class="hidden dark:block"
					src="./images/about/about-dark-02.svg"
				/>
			</div>
		</div>
	</div>
</section>
