<section class="pb-20 pt-35 md:pt-40 xl:pb-25 xl:pt-46">
	<div class="container px-4 md:px-8 2xl:px-0">
		<div class="flex lg:items-center lg:gap-8 xl:gap-32.5">
			<div class="md:w-1/2">
				<h4 class="mb-4.5 text-lg font-medium text-black dark:text-white">
					🔥 Solid - A Complete SaaS Starter Template for SaaS
				</h4>
				<h1 class="mb-5 pr-16 title text-black dark:text-white">
					Robust SaaS Boilerplate and Starter for
					<span
						class="banner-Nextjs"
					>
						Next.js
					</span>
				</h1>
				<p>
					Packed with all the key integrations you need for swift SaaS startup
					launch, including - Authentication, Database, Sanity Blog, Essential
					UI Components, Business Pages and More. Built-winth - Next.js, React
					18 and TypeScript.
				</p>
				<div class="mt-10">
					<a
						aria-label="get started button"
						class="inline-block rounded-full bg-black px-7.5 py-2.5 text-white duration-300 ease-in-out hover:bg-blackho dark:bg-btndark dark:hover:bg-blackho"
						href="/auth/signup"
					>
						Get Started
					</a>
				</div>
			</div>
			<div class="hidden lg:w-1/2 lg:block">
				<div class="relative 2xl:-mr-7.5">
					<img
						alt="shape"
						class="absolute -left-11.5 top-0"
						src="../images/shape/shape-01.png"
						style="color: transparent"
					/>
					<img
						alt="shape"
						class="absolute bottom-0 right-0 z-10"
						src="../images/shape/shape-02.svg"
					/>
					<img
						alt="shape"
						class="absolute -right-6.5 bottom-0 z-1"
						src="/images/shape/shape-03.svg"
					/>
					<img
						alt="Hero"
						class="w-full shadow-solid-l dark:hidden dark:shadow-none"
						src="../images/hero/hero-light.svg"
					/>
					<img
						alt="Hero"
						class="hidden shadow-none w-full dark:block dark:shadow-solid-l"
						src="../images/hero/hero-dark.svg"
					/>
				</div>
			</div>
		</div>
	</div>
</section>
