<section
	class="border border-x-0 border-y-stroke bg-alabaster py-11 dark:bg-black border-y-strokedark"
>
	<div class="container px-4 md:px-8 2xl:px-0">
		<div
			class="grid grid-cols-3 items-center justify-center gap-7.5 md:grid-cols-6 lg:gap-12.5 xl:gap-29"
		>
			<a
				href="#"
				class="mx-w-full relative block h-10 w-[98px]"
			>
				<img
					alt="Client"
					class="opacity-65 w-full hover:opacity-100 dark:hidden"
					src="../images/brand/brand-light-01.svg"
				/>
				<img
					alt="Client"
					class="hidden opacity-50 w-full transition-all duration-300 hover:opacity-100 dark:block"
					src="../images/brand/brand-dark-01.svg"
				/>
			</a>
			<a
				href="#"
				class="mx-w-full relative block h-10 w-[98px]"
			>
				<img
					alt="Client"
					class="opacity-65 w-full transition-all duration-300 hover:opacity-100 dark:hidden"
					src="../images/brand/brand-light-02.svg"
				/>
				<img
					alt="Client"
					class="hidden opacity-50 w-full transition-all duration-300 hover:opacity-100 dark:block"
					src="../images/brand/brand-dark-02.svg"
				/>
			</a>
			<a
				href="#"
				class="mx-w-full relative block h-10 w-[98px]"
			>
				<img
					alt="Client"
					class="opacity-65 w-full transition-all duration-300 hover:opacity-100 dark:hidden"
					src="../images/brand/brand-light-03.svg"
				/>
				<img
					alt="Client"
					class="hidden opacity-50 w-full transition-all duration-300 hover:opacity-100 dark:block"
					src="../images/brand/brand-dark-03.svg"
				/>
			</a>
			<a
				href="#"
				class="mx-w-full relative block h-10 w-[98px]"
			>
				<img
					alt="Client"
					class="opacity-65 w-full transition-all duration-300 hover:opacity-100 dark:hidden"
					src="../images/brand/brand-light-04.svg"
				/>
				<img
					alt="Client"
					class="hidden opacity-50 w-full transition-all duration-300 hover:opacity-100 dark:block"
					src="../images/brand/brand-dark-04.svg"
				/>
			</a>
			<a
				href="#"
				class="animate_top mx-w-full relative block h-10 w-[98px]"
			>
				<img
					alt="Client"
					class="opacity-65 w-full transition-all duration-300 hover:opacity-100 dark:hidden"
					src="../images/brand/brand-light-05.svg"
				/>
				<img
					alt="Client"
					class="hidden opacity-50 w-full transition-all duration-300 hover:opacity-100 dark:block"
					src="../images/brand/brand-dark-05.svg"
				/>
			</a>
			<a
				href="#"
				class="mx-w-full relative block h-10 w-[98px]"
			>
				<img
					alt="Client"
					class="opacity-65 w-full transition-all duration-300 hover:opacity-100 dark:hidden"
					src="../images/brand/brand-light-06.svg"
				/>
				<img
					alt="Client"
					class="hidden opacity-50 w-full transition-all duration-300 hover:opacity-100 dark:block"
					src="../images/brand/brand-dark-06.svg"
				/>
			</a>
		</div>
	</div>
</section>
