<!-- HEADER -->
<header class="py-4 bg-white shadow dark:bg-black">
	<div
		class="container relative px-4 md:px-8 xl:flex xl:items-center xl:justify-between 2xl:px-0"
	>
		<!-- DONE -->
		<div class="flex w-full items-center justify-between xl:w-1/4">
			<a href="/">
				<img
					alt="logo"
					width="119.03"
					height="30"
					class="hidden w-full dark:block"
					src="../images/logo/logo-dark.svg"
				/>
				<img
					alt="logo"
					width="119.03"
					height="30"
					class="w-full dark:hidden"
					src="../images/logo/logo-light.svg"
				/>
			</a>
			<button class="block xl:hidden text-black dark:text-white">
				<i class="fa fa-bars"></i>
			</button>
		</div>
		<div
			class="invisible h-0 w-full xl:items-center xl:justify-between xl:visible xl:flex xl:h-auto xl:w-full"
		>
			<nav>
				<ul class="flex flex-col gap-5 xl:flex-row xl:items-center xl:gap-10">
					<li>
						<a
							class="text-primary hover:text-primary"
							href="/"
							>Home</a
						>
					</li>
					<li>
						<a
							class="hover:text-primary"
							href="/#features"
							>Features</a
						>
					</li>
					<li>
						<a
							class="hover:text-primary"
							href="/blog"
							>Blog</a
						>
					</li>
					<li>
						<a
							class="hover:text-primary"
							href="/docs"
							>Docs</a
						>
					</li>
					
					<li>
						<a
							class="hover:text-primary"
							href="/support"
							>Support</a
						>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>
