<section>
	<div class="mx-auto max-w-c-1390 px-4 md:px-8 2xl:px-0">
		<div
			class="animate_top mx-auto text-center"
			style="opacity: 1; transform: none"
		>
			<div
				class="mb-4 inline-block rounded-full bg-zumthor px-4.5 py-1.5 dark:border dark:border-strokedark dark:bg-blacksection"
			>
				<span class="meta-title text-black dark:text-white">INTEGRATIONS</span>
			</div>
			<h2
				class="mx-auto mb-4 text-black dark:text-white md:w-4/5 xl:w-1/2 title"
			>
				Packed with all the key integrations you need
			</h2>
			<p class="mx-auto md:w-4/5 lg:w-3/5 xl:w-[46%]">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. In convallis
				tortor eros. Donec vitae tortor lacus. Phasellus aliquam ante in
				maximus.
			</p>
		</div>
	</div>
	<div
		class="relative mx-auto mt-15 max-w-[72.125rem] px-4 md:px-8 xl:mt-20 xl:px-0"
	>
		<div class="absolute -top-3/4 left-0 right-0 -z-1 mx-auto h-full w-full">
			<img
				alt="Dotted"
				width="1200"
				height="400"
				class="dark:hidden"
				src="../images/shape/shape-dotted-light.svg"
			/>
			<img
				alt="Dotted"
				class="hidden dark:block"
				src="../images/shape/shape-dotted-dark.svg"
			/>
		</div>
		<div class="flex flex-wrap justify-around gap-y-10">
			<div
				class="animate_top w-1/6"
				style="opacity: 1; transform: none"
			>
				<div
					class="inline-block rounded-[10px] bg-white p-4.5 shadow-solid-7 dark:bg-btndark"
				>
					<img
						alt="Brand"
						loading="lazy"
						width="50"
						height="50"
						decoding="async"
						data-nimg="1"
						src="../images/brand/brand-07.svg"
						style="color: transparent"
					/>
				</div>
			</div>
			<div class="animate_top !w-1/6"></div>
			<div class="animate_top w-1/6">
				<div
					class="inline-block rounded-[10px] bg-white p-4.5 shadow-solid-7 dark:bg-btndark"
				>
					<img
						alt="Brand"
						loading="lazy"
						width="50"
						height="50"
						decoding="async"
						data-nimg="1"
						src="../images/brand/brand-08.svg"
						style="color: transparent"
					/>
				</div>
			</div>
			<div class="animate_top w-1/6">
				<div class="h-[11px] w-[11px] rounded-full bg-[#FFDB26]"></div>
			</div>
			<div class="animate_top w-1/6">
				<div
					class="inline-block rounded-[10px] bg-white p-4.5 shadow-solid-7 dark:bg-btndark"
				>
					<img
						alt="Brand"
						loading="lazy"
						width="50"
						height="50"
						decoding="async"
						data-nimg="1"
						src="../images/brand/brand-09.svg"
						style="color: transparent"
					/>
				</div>
			</div>
			<div class="animate_top w-1/6"></div>
			<div class="animate_top w-1/6">
				<div class="h-[15px] w-[15px] rounded-full bg-[#62E888]"></div>
			</div>
			<div class="animate_top w-1/6">
				<div
					class="inline-block rounded-[10px] bg-white p-4.5 shadow-solid-7 dark:bg-btndark"
				>
					<img
						alt="Brand"
						loading="lazy"
						width="50"
						height="50"
						decoding="async"
						data-nimg="1"
						src="../images/brand/brand-10.svg"
						style="color: transparent"
					/>
				</div>
			</div>
			<div class="animate_top w-1/6">
				<div class="h-[23px] w-[23px] rounded-full bg-[#EF5C00]"></div>
			</div>
			<div class="animate_top w-1/6">
				<div
					class="inline-block rounded-[10px] bg-white p-4.5 shadow-solid-7 dark:bg-btndark"
				>
					<img
						alt="Brand"
						loading="lazy"
						width="50"
						height="50"
						decoding="async"
						data-nimg="1"
						src="../images/brand/brand-11.svg"
						style="color: transparent"
					/>
				</div>
			</div>
			<div class="animate_top w-1/6">
				<div class="h-[15px] w-[15px] rounded-full bg-[#016BFF]"></div>
			</div>
			<div class="animate_top w-1/6">
				<div
					class="inline-block rounded-[10px] bg-white p-4.5 shadow-solid-7 dark:bg-btndark"
				>
					<img
						alt="Brand"
						loading="lazy"
						width="50"
						height="50"
						decoding="async"
						data-nimg="1"
						src="../images/brand/brand-12.svg"
						style="color: transparent"
					/>
				</div>
			</div>
		</div>
	</div>
</section>
