<section class="overflow-hidden px-4 py-20 md:px-8 lg:py-25 xl:py-30 2xl:px-0">
	<div
		class="container rounded-lg bg-gradient-to-t from-[#F8F9FF] to-[#DEE7FF] px-7.5 py-12.5 dark:bg-blacksection dark:bg-gradient-to-t dark:from-transparent dark:to-transparent dark:stroke-strokedark md:px-12.5 xl:px-17.5 xl:py-0"
	>
		<div
			class="flex flex-wrap gap-8 md:flex-nowrap md:items-center md:justify-between md:gap-0"
		>
			<div
				class="animate_left md:w-[70%] lg:w-1/2"
				style="opacity: 1; transform: none"
			>
				<h2 class="mb-4 w-11/12 text-black dark:text-white title">
					Join With Us Today &amp; Increase Your Productivity
				</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. In convallis
					tortor eros. Donec vitae tortor lacus. Phasellus aliquam ante in
					maximus.
				</p>
			</div>
			<div
				class="animate_right lg:w-[45%]"
				style="opacity: 1; transform: none"
			>
				<div class="flex items-center justify-end xl:justify-between">
					<img
						alt="Saly"
						width="299"
						height="299"
						class="hidden xl:block"
						src="../images/shape/shape-06.png"
					/>
					<a
						href="/signup"
						class="inline-flex items-center gap-2.5 rounded-full bg-black px-6 py-3 font-medium text-white hover:opacity-90 dark:bg-white dark:text-black"
					>
						Sign up free
						<span class="pl-2.5">
							<svg
								width="14"
								height="14"
								viewBox="0 0 14 14"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M10.4766 6.16664L6.00664 1.69664L7.18498 0.518311L13.6666 6.99998L7.18498 13.4816L6.00664 12.3033L10.4766 7.83331H0.333313V6.16664H10.4766Z"
									fill="currentColor"
								></path>
							</svg>
						</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
