<section
	id="features"
	class="py-20 lg:py-25 xl:py-30"
>
	<div class="container px-4 md:px-8 xl:px-0">
		<div
			class="mx-auto text-center"
			style="opacity: 1; transform: none"
		>
			<div
				class="mb-4 inline-block rounded-full bg-zumthor px-4.5 py-1.5 dark:border dark:border-strokedark dark:bg-blacksection"
			>
				<span class="meta-title text-black dark:text-white">
					SOLID FEATURES
				</span>
			</div>
			<h2
				class="mx-auto mb-4 title text-black dark:text-white md:w-4/5 xl:w-1/2"
			>
				Core Features of Solid
			</h2>
			<p class="mx-auto md:w-4/5 lg:w-3/5 xl:w-[46%]">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. In convallis
				tortor eros. Donec vitae tortor lacus. Phasellus aliquam ante in
				maximus.
			</p>
		</div>
		<div
			class="mt-12.5 grid grid-cols-1 gap-7.5 md:grid-cols-2 lg:mt-15 lg:grid-cols-3 xl:mt-20 xl:gap-12.5"
		>
			<div
				class="z-40 rounded-lg border border-white bg-white p-7.5 shadow-lg transition-all hover:shadow-2xl border-strokedark dark:bg-blacksection dark:hover:bg-hoverdark xl:p-12.5"
			>
				<div
					class="relative flex h-16 w-16 items-center justify-center rounded-[4px] bg-primary"
				>
					<img
						alt="title"
						width="36"
						height="36"
						src="../images/icon/icon-01.svg"
					/>
				</div>
				<h3 class="mb-5 mt-7.5 feature-card-title text-black dark:text-white">
					Crafted for SaaS
				</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. In convallis
					tortor.
				</p>
			</div>
			<div
				class="z-40 rounded-lg border border-white bg-white p-7.5 shadow-lg transition-all hover:shadow-2xl border-strokedark dark:bg-blacksection dark:hover:bg-hoverdark xl:p-12.5"
			>
				<div
					class="relative flex h-16 w-16 items-center justify-center rounded-[4px] bg-primary"
				>
					<img
						alt="title"
						width="36"
						height="36"
						src="../images/icon/icon-02.svg"
					/>
				</div>
				<h3 class="mb-5 mt-7.5 feature-card-title text-black dark:text-white">
					Crafted for SaaS
				</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. In convallis
					tortor.
				</p>
			</div>
			<div
				class="z-40 rounded-lg border border-white bg-white p-7.5 shadow-lg transition-all hover:shadow-2xl border-strokedark dark:bg-blacksection dark:hover:bg-hoverdark xl:p-12.5"
			>
				<div
					class="relative flex h-16 w-16 items-center justify-center rounded-[4px] bg-primary"
				>
					<img
						alt="title"
						width="36"
						height="36"
						src="../images/icon/icon-03.svg"
					/>
				</div>
				<h3 class="mb-5 mt-7.5 feature-card-title text-black dark:text-white">
					Crafted for SaaS
				</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. In convallis
					tortor.
				</p>
			</div>
			<div
				class="z-40 rounded-lg border border-white bg-white p-7.5 shadow-lg transition-all hover:shadow-2xl border-strokedark dark:bg-blacksection dark:hover:bg-hoverdark xl:p-12.5"
			>
				<div
					class="relative flex h-16 w-16 items-center justify-center rounded-[4px] bg-primary"
				>
					<img
						alt="title"
						width="36"
						height="36"
						src="../images/icon/icon-04.svg"
					/>
				</div>
				<h3 class="mb-5 mt-7.5 feature-card-title text-black dark:text-white">
					Crafted for SaaS
				</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. In convallis
					tortor.
				</p>
			</div>
			<div
				class="z-40 rounded-lg border border-white bg-white p-7.5 shadow-lg transition-all hover:shadow-2xl border-strokedark dark:bg-blacksection dark:hover:bg-hoverdark xl:p-12.5"
			>
				<div
					class="relative flex h-16 w-16 items-center justify-center rounded-[4px] bg-primary"
				>
					<img
						alt="title"
						width="36"
						height="36"
						src="../images/icon/icon-05.svg"
					/>
				</div>
				<h3 class="mb-5 mt-7.5 feature-card-title text-black dark:text-white">
					Crafted for SaaS
				</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. In convallis
					tortor.
				</p>
			</div>
			<div
				class="z-40 rounded-lg border border-white bg-white p-7.5 shadow-lg transition-all hover:shadow-2xl border-strokedark dark:bg-blacksection dark:hover:bg-hoverdark xl:p-12.5"
			>
				<div
					class="relative flex h-16 w-16 items-center justify-center rounded-[4px] bg-primary"
				>
					<img
						alt="title"
						width="36"
						height="36"
						src="../images/icon/icon-06.svg"
					/>
				</div>
				<h3 class="mb-5 mt-7.5 feature-card-title text-black dark:text-white">
					Crafted for SaaS
				</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. In convallis
					tortor.
				</p>
			</div>
		</div>
	</div>
</section>
