<section class="overflow-hidden pb-20 lg:pb-25 xl:pb-30">
	<div class="mx-auto max-w-[77.188rem] px-4 md:px-8 xl:px-0">
		<div class="flex items-center gap-8 lg:gap-32.5">
			<div class="relative mx-auto aspect-[588/526.5] hidden md:block md:w-1/2">
				<img
					alt="About"
					class="dark:hidden"
					src="../images/about-light-01.png"
				/>
				<img
					alt="About"
					class="hidden dark:block"
					src="../images/about-dark-01.png"
				/>
			</div>
			<div class="md:w-1/2">
				<h4 class="sub-title text-black dark:text-white">
					<span
						class="mb-4 mr-4 inline-block rounded-full bg-meta px-4.5 py-1 text-white meta-title"
					>
						New
					</span>
					SaaS Boilerplate for Next.js
				</h4>
				<h2 class="relative mb-6 text-black dark:text-white title">
					A Complete Solution for
					<span class="relative inline-block about-saas-startup">
						SaaS Startup
					</span>
				</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultricies
					lacus non fermentum ultrices. Fusce consectetur le.
				</p>
				<div class="mt-7.5 flex items-center gap-5">
					<div
						class="flex h-15 w-15 items-center justify-center rounded-[50%] border border-stroke border-strokedark dark:bg-blacksection"
					>
						<p class="text-metatitle2 font-semibold text-black dark:text-white">
							01
						</p>
					</div>
					<div class="w-3/4">
						<h3 class="mb-0.5 text-metatitle2 text-black dark:text-white">
							Mailchimp for Newsletter Emails + SMTP for Transactional Emails
						</h3>
						<p>Ut ultricies lacus non fermentum ultrices.</p>
					</div>
				</div>
				<div class="mt-7.5 flex items-center gap-5">
					<div
						class="flex h-15 w-15 items-center justify-center rounded-[50%] border border-stroke border-strokedark dark:bg-blacksection"
					>
						<p class="text-metatitle2 font-semibold text-black dark:text-white">
							02
						</p>
					</div>
					<div class="w-3/4">
						<h3 class="mb-0.5 text-metatitle2 text-black dark:text-white">
							Algolia Integration for Site Search
						</h3>
						<p>consectetur adipiscing elit fermentum ultricies.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
