<section class="tab-container pb-20 pt-18.5 lg:pb-22.5">
	<div class="relative container px-4 md:px-8 2xl:px-0">
		<div class="absolute -top-16 -z-1 mx-auto h-[350px] w-[90%]">
			<img
				alt="Dotted Shape"
				class="dark:hidden"
				src="../images/shape/shape-dotted-light.svg"
			/>
			<img
				alt="Dotted Shape"
				class="hidden dark:block"
				src="../images/shape/shape-dotted-dark.svg"
			/>
		</div>
		<div
			class="mb-15 flex flex-wrap justify-center rounded-[10px] border border-stroke bg-white shadow-2xl border-strokedark dark:bg-blacksection dark:shadow-solid-6 md:flex-nowrap md:items-center lg:gap-7.5 xl:mb-21.5 xl:gap-12.5"
		>
			<div class="tab-menu-item selected border-stroke border-strokedark">
				<div
					class="flex h-12.5 w-12.5 items-center justify-center rounded-[50%] border border-stroke dark:border-strokedark dark:bg-blacksection"
				>
					<p class="text-metatitle3 font-medium text-black dark:text-white">
						01
					</p>
				</div>
				<div class="md:w-3/5 lg:w-auto">
					<button class="text-black dark:text-white tab-title">
						Clean User Interface
					</button>
				</div>
			</div>
			<div class="tab-menu-item border-stroke border-strokedark">
				<div
					class="flex h-12.5 w-12.5 items-center justify-center rounded-[50%] border border-stroke dark:border-strokedark dark:bg-blacksection"
				>
					<p class="text-metatitle3 font-medium text-black dark:text-white">
						02
					</p>
				</div>
				<div class="md:w-3/5 lg:w-auto">
					<button class="text-black dark:text-white tab-title">
						Essential Business Pages
					</button>
				</div>
			</div>
			<div class="tab-menu-item border-stroke border-strokedark">
				<div
					class="flex h-12.5 w-12.5 items-center justify-center rounded-[50%] border border-stroke dark:border-strokedark dark:bg-blacksection"
				>
					<p class="text-metatitle3 font-medium text-black dark:text-white">
						03
					</p>
				</div>
				<div class="md:w-3/5 lg:w-auto">
					<button class="text-black dark:text-white tab-title">
						Fully Functional Integrations
					</button>
				</div>
			</div>
		</div>
		<div class="relative mx-auto max-w-[72.125rem]">
			<div class="block opacity-0">
				<div class="flex items-center gap-8 lg:gap-19">
					<div class="md:w-1/2">
						<h2 class="mb-7 text-black dark:text-white tab-card-title">
							Solid UI with Solid Features.
						</h2>
						<p class="mb-5">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
							ultricies lacus non fermentum ultrices. Fusce consectetur le.
						</p>
						<p class="w-11/12">
							Nam id eleifend dui, id iaculis purus. Etiam lobortis neque nec
							finibus sagittis. Nulla ligula nunc egestas ut.
						</p>
					</div>
					<div class="relative mx-auto hidden max-w-[550px] md:block md:w-1/2">
						<img
							alt="Solid UI with Solid Features."
							class="dark:hidden"
							src="../images/features/features-light-01.png"
						/>
						<img
							alt="Solid UI with Solid Features."
							class="hidden dark:block"
							src="../images/features/features-dark-01.svg"
						/>
					</div>
				</div>
			</div>
			<div class="tab-card selected">
				<div class="flex items-center gap-8 lg:gap-19">
					<div class="md:w-1/2">
						<h2 class="mb-7 text-black dark:text-white tab-card-title">
							Solid UI with Solid Features.
						</h2>
						<p class="mb-5">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
							ultricies lacus non fermentum ultrices. Fusce consectetur le.
						</p>
						<p class="w-11/12">
							Nam id eleifend dui, id iaculis purus. Etiam lobortis neque nec
							finibus sagittis. Nulla ligula nunc egestas ut.
						</p>
					</div>
					<div class="relative mx-auto hidden max-w-[550px] md:block md:w-1/2">
						<img
							alt="Solid UI with Solid Features."
							class="dark:hidden"
							src="../images/features/features-light-01.png"
						/>
						<img
							alt="Solid UI with Solid Features."
							class="hidden dark:block"
							src="../images/features/features-dark-01.svg"
						/>
					</div>
				</div>
			</div>
			<div class="tab-card">
				<div class="flex items-center gap-8 lg:gap-19">
					<div class="md:w-1/2">
						<h2
							class="mb-7 text-3xl font-bold text-black dark:text-white xl:text-sectiontitle2"
						>
							Pages and UI Components You Need for a SaaS.
						</h2>
						<p class="mb-5">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
							ultricies lacus non fermentum ultrices. Fusce consectetur le.
						</p>
						<p class="w-11/12">
							Nam id eleifend dui, id iaculis purus. Etiam lobortis neque nec
							finibus sagittis. Nulla ligula nunc egestas ut.
						</p>
					</div>
					<div class="relative mx-auto hidden max-w-[550px] md:block md:w-1/2">
						<img
							alt="Solid UI with Solid Features."
							class="dark:hidden"
							src="../images/features/features-light-01.png"
						/>
						<img
							alt="Solid UI with Solid Features."
							class="hidden dark:block"
							src="../images/features/features-dark-01.svg"
						/>
					</div>
				</div>
			</div>
			<div class="tab-card">
				<div class="flex items-center gap-8 lg:gap-19">
					<div class="md:w-1/2">
						<h2
							class="mb-7 text-3xl font-bold text-black dark:text-white xl:text-sectiontitle2"
						>
							Functional Blog, DB, Auth and Many More
						</h2>
						<p class="mb-5">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
							ultricies lacus non fermentum ultrices. Fusce consectetur le.
						</p>
						<p class="w-11/12">
							Nam id eleifend dui, id iaculis purus. Etiam lobortis neque nec
							finibus sagittis. Nulla ligula nunc egestas ut.
						</p>
					</div>
					<div class="relative mx-auto hidden max-w-[550px] md:block md:w-1/2">
						<img
							alt="Solid UI with Solid Features."
							class="dark:hidden"
							src="../images/features/features-light-01.png"
						/>
						<img
							alt="Solid UI with Solid Features."
							class="hidden dark:block"
							src="../images/features/features-dark-01.svg"
						/>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
