<section class="px-4 py-20 md:px-8 lg:py-22.5 2xl:px-0">
	<div
		class="relative z-1 container rounded-lg bg-gradient-to-t from-[#F8F9FF] to-[#DEE7FF] py-22.5 dark:bg-blacksection dark:from-transparent dark:to-transparent xl:py-27.5"
	>
		<img
			alt="Man"
			width="335"
			height="384"
			class="absolute -left-15 -top-25 -z-1 lg:left-0"
			src="../images/shape/shape-04.png"
		/>
		<img
			alt="Doodle"
			width="132"
			height="132"
			class="absolute bottom-0 right-0 -z-1"
			src="../images/shape/shape-05.png"
		/>
		<img
			alt="Dotted"
			class="absolute left-0 top-0 -z-1 dark:hidden"
			src="../images/shape/shape-dotted-light-02.svg"
		/>
		<img
			alt="Dotted"
			class="absolute left-0 top-0 -z-1 hidden dark:block"
			src="../images/shape/shape-dotted-dark-02.svg"
		/>
		<div
			class="mx-auto mb-12.5 px-4 text-center md:w-4/5 md:px-0 lg:mb-17.5 lg:w-2/3 xl:w-1/2"
		>
			<h2 class="mb-4 text-black dark:text-white title">
				Trusted by Global Companies.
			</h2>
			<p class="mx-auto lg:w-11/12">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. In convallis
				tortor eros. Donec vitae tortor lacus. Phasellus aliquam ante in
				maximus.
			</p>
		</div>
		<div class="flex flex-wrap justify-center gap-8 lg:gap-42.5">
			<div class="text-center">
				<h3 class="mb-2.5 text-black dark:text-white trust-number">500K</h3>
				<p class="trust-text">World Wide Clients</p>
			</div>
			<div class="text-center">
				<h3 class="mb-2.5 text-black dark:text-white trust-number">1M+</h3>
				<p class="trust-text">Downloads</p>
			</div>
			<div class="text-center">
				<h3 class="mb-2.5 text-black dark:text-white trust-number">865</h3>
				<p class="trust-text">Winning Award</p>
			</div>
		</div>
	</div>
</section>
