@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@custom-variant dark (&:where(.dark, .dark *));
@theme {
	--breakpoint-md: 768px;
	--breakpoint-lg: 1024px;
	--breakpoint-xl: 1280px;
	--breakpoint-2xl: 1536px;

	--color-primary: #006bff;
	--color-blacksection: #1c2136;
	--color-black: #181c31;
	--color-btndark: #292e45;
	--color-blackho: #2c3149;
	--color-alabaster: #fbfbfb;
	--color-zumthor: #edf5ff;
	--color-hoverdark: #252a42;
	--color-meta: #20c5a8;

	--tw-border-opacity: 1;

	--tw-shadow: 0px 10px 120px 0px rgba(45, 74, 170, 0.1);
}
html {
	color: #757693;
	line-height: 1.5;
	font-family:
		ui-sans-serif,
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		Segoe UI,
		Roboto,
		Helvetica Neue,
		Arial,
		Noto Sans,
		sans-serif,
		Apple Color Emoji,
		Segoe UI Emoji,
		Segoe UI Symbol,
		Noto Color Emoji;
	font-feature-settings: normal;
}
body {
	font-family: Inter, sans-serif;
	font-style: normal;
	font-size: 16px;
	line-height: 26px;
	font-weight: 500;
	letter-spacing: 0.75px;
}
.container {
	margin: 0 auto;
	max-width: 86.875rem;
}
.nav-container {
	max-height: 0px;
	width: 100%;
	overflow: hidden;
	border-radius: 1rem;
	transition: all 0.5s ease-in-out;
}
.nav-container:where(.nav-container.up) {
	overflow: visible;
	max-height: 500px;
	padding: 1.875rem;
	margin: 1rem 0;
}
.nav-list {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}
.page-icon-up {
	display: none;
}

.dropdown-container:hover .page-icon-up,
.dropdown-container.up .page-icon-up {
	display: inline;
}

.page-icon-down {
	display: inline;
}

.dropdown-container:hover .page-icon-down,
.dropdown-container.up .page-icon-down {
	display: none;
}

.dropdown-container {
	position: relative;
}
.dropdown {
	display: none;
	position: absolute;
	z-index: 10;
	padding: 1.25rem 2rem;
	margin-top: 0.5rem;
	border-radius: 0.375rem;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
}
.dropdown-container:hover .dropdown,
.dropdown-container.up .dropdown {
	display: flex;
}
.nav-buttons {
	display: flex;
	align-items: center;
	margin-top: 1.75rem;
	justify-content: space-between;
}
.title {
	font-size: 1.875rem;
	line-height: 1.2;
	font-weight: bold;
}
.sub-title {
	font-size: 1.125rem;
	line-height: 1.5556;
	font-weight: 500;
}
.meta-title {
	font-size: 0.875rem;
	line-height: 1.375rem;
	font-weight: 500;
}
.feature-card-title {
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-weight: 600;
}
.text-metatitle2 {
	font-size: 1.25rem;
	line-height: 2rem;
}
.tab-title {
	font-size: 0.875rem;
	line-height: 1.25rem;
	font-weight: 500;
}
.tab-card-title {
	font-size: 1.875rem;
	line-height: 2.25rem;
	font-weight: 700;
}
.tab-card {
	position: absolute;
	background-color: inherit;
	width: 100%;
	height: 100%;
	top: 0;
	opacity: 0;
	transition: all 1s ease;
	transform: scale(0.5);
}
.tab-card.selected {
	opacity: 1;
	transform: scale(1);
}
.tab-container .tab-menu-item {
	display: flex;
	position: relative;
	width: 100%;
	cursor: pointer;
	align-items: center;
	gap: 1rem;
	border-bottom: 1px solid white;
	padding: 0.5rem 1.5rem;
}
.tab-container .tab-menu-item.selected::before {
	display: block;
	content: "";
	background-color: #006bff;
	left: 0;
	bottom: 0;
	position: absolute;
	height: 4px;
	width: 100%;
}
.tab-container .tab-menu-item:last-child {
	border: none;
}
.banner-Nextjs,
.about-saas-startup,
.about-integration {
	position: relative;
}
.banner-Nextjs::before,
.about-saas-startup::before,
.about-integration::before {
	content: "";
	position: absolute;
	bottom: 18%;
	left: 0;
	width: 100%;
	height: 0.75rem;
	background-color: #adfff8;
	opacity: 1;
	z-index: -1;
}
.dark .banner-Nextjs::before,
.dark .about-saas-startup::before,
.dark .about-integration::before {
	background-color: #46495a;
}
.border-stroke {
	border-color: rgb(238 238 238 / var(--tw-border-opacity));
}
.border-y-stroke {
	border-top-color: rgb(238 238 238 / var(--tw-border-opacity));
	border-bottom-color: rgb(238 238 238 / var(--tw-border-opacity));
}
.dark .border-strokedark {
	border-color: rgb(45 47 64 / var(--tw-border-opacity));
}
.dark .border-y-strokedark {
	border-top-color: rgb(45 47 64 / var(--tw-border-opacity));
	border-bottom-color: rgb(45 47 64 / var(--tw-border-opacity));
}
.trust-number {
	font-size: 1.875rem;
	line-height: 2.25rem;
	font-weight: 700;
}
.trust-text {
	font-size: 1.125rem;
	line-height: 1.75rem;
}
.dark .trust-dark-from-to {
	background-color: #1c2136;
}

@media screen and (min-width: 768px) {
	.tab-container .tab-menu-item {
		width: auto;
		border: none;
	}
}
@media screen and (min-width: 1280px) {
	.nav-container {
		display: flex;
		max-height: 200px;
		box-shadow: none;
		overflow: visible;
		align-items: center;
		justify-content: space-between;
		background-color: transparent;
	}
	.nav-list {
		flex-direction: row;
		align-items: center;
		gap: 2.5rem;
	}
	.dropdown {
		width: 250px;
		margin-top: 0;
		transform: translateY(1rem);
	}
	.dropdown::before {
		content: "";
		position: absolute;
		top: -8px; /* Adjust distance above dropdown */
		left: 2.5rem; /* Adjust horizontal position */
		width: 14px;
		height: 14px;
		border-left: 1px;
		border-top: 1px;
		border-style: solid;
		border-color: #eeeeee;
		background-color: inherit;
		transform: rotate(45deg);
		z-index: 0;
	}
	.dark .dropdown::before {
		border-color: #2d2f40;
	}
	.dark .dropdown {
		border: 1px solid #2d2f40;
	}
	.nav-buttons {
		display: inline-block;
		margin-top: 0;
	}
	.title {
		font-size: 2.75rem;
		line-height: 58px;
	}
	.feature-card-title {
		font-size: 1.625rem;
		line-height: 2rem;
	}
	.tab-title {
		font-size: 1rem;
		line-height: 1.625rem;
	}
	.tab-card-title {
		font-size: 2.5rem;
		line-height: 3.25rem;
	}
	.tab-container .tab-menu-item {
		padding: 1.25rem 3.375rem;
	}
	.trust-number {
		font-size: 2.75rem;
		line-height: 3.4375rem;
	}
	.trust-text {
		font-size: 1.375rem;
		line-height: 2.19rem;
	}
}
