@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
	--breakpoint-md: 768px;
	--breakpoint-lg: 1024px;
	--breakpoint-xl: 1280px;
	--breakpoint-2xl: 1536px;
}
html {
	font-size: 18px;
	color: #757693;
}
.shadow-solid-5 {
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.container {
	@apply mx-auto max-w-[90%];
}
.btn {
	@apply inline-flex items-center gap-2.5 rounded-full bg-black px-6 py-3 font-medium text-white hover:opacity-90 dark:bg-white dark:text-black;
}